In [8]:
import pandas as pd

In [9]:
apr = pd.read_csv('C:/Users/ginav/Desktop/Analysis Projects/Class Activity Files/Module 18/Data/202304-citibike-tripdata.csv', low_memory=False)
april = pd.DataFrame(apr)
april.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,159C90AB46D5631B,classic_bike,2023-04-01 17:24:06,2023-04-01 17:46:10,Hoyt St & Warren St,4330.09,Washington St & Laight St,5509.02,40.684294,-73.988944,40.722310,-74.010600,member
1,4349D44670885CED,electric_bike,2023-04-13 15:09:12,2023-04-13 15:16:11,E 25 St & 2 Ave,6046.02,E 47 St & 2 Ave,6498.10,40.739126,-73.979738,40.753231,-73.970325,member
2,55EB4E8AF45439D2,electric_bike,2023-04-28 15:17:00,2023-04-28 15:26:09,3 Ave & E 62 St,6762.04,W 55 St & 6 Ave,6809.09,40.763126,-73.965269,40.763189,-73.978434,member
3,3133FC58AA938D08,classic_bike,2023-04-23 16:18:49,2023-04-23 17:10:50,Washington Pl & 6 Ave,5838.09,E 56 St & 3 Ave,6691.11,40.732241,-74.000264,40.759345,-73.967597,member
4,BF2DD897668DA1AC,classic_bike,2023-04-21 15:42:08,2023-04-21 15:47:04,3 Ave & E 62 St,6762.04,W 55 St & 6 Ave,6809.09,40.763112,-73.965812,40.763189,-73.978434,member

In [10]:
may = pd.read_csv('C:/Users/ginav/Desktop/Analysis Projects/Class Activity Files/Module 18/Data/202305-citibike-tripdata.csv', low_memory=False)
mayDF = pd.DataFrame(may)
mayDF.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,176B188F3289F37B,classic_bike,2023-05-23 19:22:53,2023-05-23 19:35:23,E 50 St & Park Ave,6659.10,E 74 St & 1 Ave,6953.08,40.757306,-73.974518,40.768974,-73.954823,member
1,BB6957A02501C686,classic_bike,2023-05-27 08:49:55,2023-05-27 08:57:42,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member
2,C67567E1DAFB9F2C,classic_bike,2023-05-12 20:19:58,2023-05-12 20:36:07,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
3,89DDFCEAE05D043A,electric_bike,2023-05-03 07:59:13,2023-05-03 08:07:04,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
4,63B1D5A7A2316252,classic_bike,2023-05-13 10:23:52,2023-05-13 10:47:17,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member

In [14]:
mayDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3580766 entries, 0 to 3580765
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 355.1+ MB

In [16]:
combinedData = april.merge(mayDF, how='outer')
combinedData

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,159C90AB46D5631B,classic_bike,2023-04-01 17:24:06,2023-04-01 17:46:10,Hoyt St & Warren St,4330.09,Washington St & Laight St,5509.02,40.684294,-73.988944,40.722310,-74.010600,member
1,4349D44670885CED,electric_bike,2023-04-13 15:09:12,2023-04-13 15:16:11,E 25 St & 2 Ave,6046.02,E 47 St & 2 Ave,6498.10,40.739126,-73.979738,40.753231,-73.970325,member
2,55EB4E8AF45439D2,electric_bike,2023-04-28 15:17:00,2023-04-28 15:26:09,3 Ave & E 62 St,6762.04,W 55 St & 6 Ave,6809.09,40.763126,-73.965269,40.763189,-73.978434,member
3,3133FC58AA938D08,classic_bike,2023-04-23 16:18:49,2023-04-23 17:10:50,Washington Pl & 6 Ave,5838.09,E 56 St & 3 Ave,6691.11,40.732241,-74.000264,40.759345,-73.967597,member
4,BF2DD897668DA1AC,classic_bike,2023-04-21 15:42:08,2023-04-21 15:47:04,3 Ave & E 62 St,6762.04,W 55 St & 6 Ave,6809.09,40.763112,-73.965812,40.763189,-73.978434,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6435111,BA28157F10FA9C78,classic_bike,2023-05-11 17:37:54,2023-05-11 17:43:33,Lewis Ave & Fulton St,4196.01,Hancock St & Bedford Ave,4255.05,40.679739,-73.934619,40.682166,-73.953990,member
6435112,5FD57F3ED53FDBEB,classic_bike,2023-05-21 12:36:04,2023-05-21 13:19:32,35 Ave & 37 St,6563.12,5 Ave & E 78 St,7161.08,40.755733,-73.923661,40.776321,-73.964274,member
6435113,30CC35A9A433B701,classic_bike,2023-05-08 09:37:54,2023-05-08 10:04:59,Broadway & Berry St,5164.05,3 St & Prospect Park West,3865.05,40.710425,-73.965394,40.668132,-73.973638,member
6435114,2968C17CC49A7187,classic_bike,2023-05-27 19:55:19,2023-05-27 20:00:41,W 55 St & 6 Ave,6809.09,W 50 St & 9 Ave,6854.05,40.763189,-73.978434,40.763605,-73.989180,member
6435115,CD9203C8D4896BA1,classic_bike,2023-05-23 19:08:47,2023-05-23 19:22:59,E 51 St & 2 Ave,6575.03,E 11 St & 1 Ave,5746.14,40.755293,-73.967641,40.729538,-73.984267,member

In [17]:
combinedData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435116 entries, 0 to 6435115
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 638.2+ MB

In [18]:
combinedData.to_csv('C:/Users/ginav/Desktop/Analysis Projects/Class Activity Files/Module 18/citibikeData/Data/combinedData.csv')